
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make your vote</title>
</head>
<body>
    <h3>Please make a vote</h3>
    <form action = "#" method = "POST">
        <label>
            <input type="radio" id="vote_1" name="vote" value="BJP">
            Bharatiya Janata Party (BJP)<br>
        </label>
        <label>
            <input type="radio" id="vote_2" name="vote" value="INC">
            <label for="vote_2">Indian National Congress (INC)<br>
        </label>
        <label>
            <input type="radio" id="vote_3" name="vote" value="CSI">
            Communist Party of India (CSI)<br>
        </label>
        <label>
            <input type="radio" id="vote_4" name="vote" value="BSP">
            Bahujan Samaj Party (BSP)<br>
        </label>
        <label>
            <input type="radio" id="vote_5" name="vote" value="NPP">
            National People's Party (NPP)<br>
        </label>
        <label>
            <input type="radio" id="vote_6" name="vote" value="NOTA">
            None of the Above (NOTA)<br>
        </label>
        <br>
        <button type="submit" value="vote" name="submit">
            Submit Vote
        </button>
    </form>
</body>
</html>