
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting</title>
</head>
<body>
    <h2>Online Voting Powered by Blockchain</h2>
    <form action = "#" method = "POST">
        <h3>Enter the Voter ID</h3>
        <p>Must start with <b style="color: rgb(241, 68, 0);">VOID</b> 
            and followed by three integers
        <input type="text" name="voterID" required>
        <br><br>
        <button type = "submit" value = "new_vote" name="submit">
            New Vote
        </button>
        <button type = "submit" value = "see_chain" name="submit">
            See Chain
        </button>
    </form>
</body>
</html>